/************CUSTOM PROPERTIES*************/

:root {
    --rojo: #F3603B; 
    --azul: #232C50;
    --blanco: #FFFFFF;
    --gris: #B3B2B7;
    --gris-oscuro: #343A40;
    --negro: #1E1E26;
}



/****************HEADER****************/

.container-header {
    justify-content: center;
}
.navbar {
    width: 60%;
}
.navbar ul li   {   
    padding: 0px 15px;
}
.navbar ul li a {
    font-size: 1.7rem;
 }

/*******MAIN-SECTION-ONE*******/

 .container-illustration {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
 }
 .illustration img {
    width: 500px;
 }
.title-illustration {
    width: 380px;
}
.title-illustration h1 {
    font-size: 3.8rem;
    text-align: start;   
}
.title-illustration p {
    font-size: 1.6rem;
    text-align: start;
}
.started-btn {
    margin: 0;
}

/*******MAIN-SECTION-TWO*******/

.container-services {
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.title-services {
    margin-top: 8px;
    text-align: left;
}
.container-services .services {
    margin: 0;
    padding: 0;
}
.services {
    width: 45%;
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.services-container .title {
    background-color: transparent;
}

/*******MAIN-SECTION-THREE*******/

.card-title h2 {
    font-size: 2.5rem;
}
.card-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.card h3 {
    font-size: 1.8rem;
}
.card {
    width: 300px;
}

.footer-section-one {
    flex-direction: row;
    justify-content: space-around;
}
.footer-section-one .title h3 {
    max-width: 490px;
    text-align: left;
}
.footer-section-two {
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.list {
    width: 40%;
    padding-top: 40px;
}
.social {
    width: 20%;
    flex-direction: column-reverse;
}
.logo-footer {
    margin-top: 10px;
}



